html, body {
    background-color : #222222;
    height : 100%;
    width : 100%;
}
#messages {
    height : 300px;
    overflow-y : scroll;
}

#clear {
    margin-top : 25px;
    width : 48%;
}

#submit {
    margin-top : 25px;
    width : 48%;
    float : right;
}

#emailWarn {
  display:none;
}

#passWarn {
  display:none;
}

.confirmed {
    font-size : 11pt;
    text-transform: uppercase;
    background-color : lightgreen;
    color : #222222;
}

.failed {
    background-color : #222222;
    color : red;

}

/* basic size style presets */
.w100 { width : 100%; }
.w75 { width : 75%; }
.w50 { width : 50%; }
.w25 { width : 25%; }

.h100 { height : 100%; }
.h75 { height : 75%; }
.h50 { height : 50%; }
.h25 { height : 25%; }

.flex-item-fill {
    flex: 1 0 auto;
}

.group-selector {
    position : relative;
    flex : 0 0 75px;
    background-color : #4e6d55;
}

.group-channels {
    flex : 0 0 300px;
    background-color : #60bf80;
}

.project-editor {
    background-color : #479961;
    height : 50px;

}
.main-content {
    background-color : #f1f2f2;
}

.tool-selector {
    height : 50px;
    background-color: #ececec;
}

.group {
    position : absolute;
    background-color : #f1f2f2;
    width : 50px;
    height : 50px;
    border-radius : 50%;
    padding : 10px;
    top : 10px;
    left : 50%;
    transform:translate(-50%);
}

.title {
    display:inline-block;
    font-size : 18px;
    color : #f1f2f2;
    font-weight : 700;
    padding : 0 15px 0 15px;
}

.click {
    cursor : pointer;
}

.dark {
    color : #222222;
}

.text-center {
    text-align : center;
}

.center-vertical-50 {
    line-height : 50px;
}

.chat-message {
    height : auto;
    width : 100%;
    position : relative;
    padding : 2px 5px 2px 5px;
    border-radius : 2px;
}

.message-info {
    font-size : 6px;
    color : lightslategrey;
    position: absolute;
    left : 0;
    top: -5px;
    padding-left : 5px;
    padding-right : 5px;
    width : 100%;
}

.message {
    padding : 10px 0 10px 0;
    overflow-wrap : break-word;
    text-align: left;
}

.self-message {
    width:100%;
    position: relative;
    text-align:right;
}

.inputHeight {
  height: 80px;
}

.center {
  text-align: center;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 6px;
}

.left {
  margin-left: 20px;
  display:none;
  color:red;
}

.checkbox label:after{
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr{
    position: relative;
    display: inline-block;
    border: 2px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon{
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 0%;
}

.cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"]{
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon{
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon{
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr{
    opacity: .5;
}

.image-container{
 height: 800px;
 width: 100%;
 background-size: cover;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.fa-exclamation {
  width: 15px;
  margin: -32px 5px;
  float: right;
}

input {
	outline: none;
	border: none;
}

label {
  display: block;
  padding-left: 15px;
  text-indent: 5px;
}
input:focus {
  border-color: transparent !important;
}
