html, body {
    height : 100%;
    width : 100%;
}
#messages {
    height : 300px;
    overflow-y : scroll;
}

#clear {
    margin-top : 25px;
    width : 48%;
}

#emailWarn {
  display:none;
}

#passWarn {
  display:none;
}

input[type='text'] {
    border : 0;
    border-bottom : 2px solid #f1f2f2;
    border-radius : 0;
}

input[type='text']::after {
    content : '';
    width : 100%;
    border-bottom : 1px solid #f1f2f2;
}

.confirmed {
    font-size : 11pt;
    text-transform: uppercase;
    background-color : lightgreen;
    color : #222222;
}

.failed {
    background-color : #222222;
    color : red;

}

.hidden {
    display : none;
    position : absolute;
    top : auto;
    left : 100000000%;
    width : 1px;
    height : 1px;
    overflow : hidden;
}

.flex-item-fill {
    flex: 1 0 auto;
}

.scroll {
    overflow-y: scroll;
}

.group-selector {
    position : relative;
    flex : 0 0 75px;
    background-color : #4e6d55;
}

.group-selector:first-child {
    padding-top : 10px !important;
}

.group-channels {
    flex : 0 0 300px;
    background-color : #60bf80;
}

.project-editor {
    background-color : #479961;
    height : 50px;

}
.main-content {
    background-color : #f1f2f2;
}

.tool-selector {
    height : 50px;
    background-color: #ececec;
}

.group {
    position:relative;
    background-color : #f1f2f2;
    width : 50px;
    height : 50px;
    border-radius : 50%;
    padding : 10px;
    margin : 0 auto 10px auto;
    cursor : pointer;
}

.group i {
    position : absolute;
    color : #479961;
    font-size : 24px;
    left:51%;
    top:50%;
    transform:translate(-50%, -50%);
}

.group span {
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    font-size : 24px;
    font-weight : 700;
}
/* group editor view */
.template-view {
    position : relative;
    height : 14em;
}

.group-title {
    font-size : 24px;
    font-weight : 700;
    padding : 10px;
}

.group-view {
    position : absolute;
    left : 50%;
    top : 10%;
}

.group-template {
    height : 10em;
    width : 10em;
}

.group-template span {
    font-size : 72px;
}

.color-input { 
    width : 40%;
    height : 50px;
}

.title {
    display:inline-block;
    font-size : 18px;
    color : #f1f2f2;
    font-weight : 700;
    padding : 0 15px 0 15px;
}

.btn-custom {
    border : 0;
    margin-top : 1em;
    width : 100%;
    background-color : #60bf80;
    color : #f1f2f2;
    transition: ease .3s;
}

.btn-custom:hover {
    background-color : lightgreen;
    color : #222222;
}

.click {
    cursor : pointer;
}

.dark {
    color : #222222;
}

label {
    display : block;
    position : relative;
}

.label-text {
    position : absolute;
    top : -0.2em;
    padding : 9px;
    transition : ease .3s;
}

.label-active {
    top : -2.2em;
}

.text-center {
    text-align : center;
}

.center-vertical-50 {
    line-height : 50px;
}

.chat-message {
    height : auto;
    width : 100%;
    position : relative;
    padding : 2px 5px 2px 5px;
    border-radius : 2px;
}

.message-info {
    font-size : 6px;
    color : lightslategrey;
    position: absolute;
    left : 0;
    top: -5px;
    padding-left : 5px;
    padding-right : 5px;
    width : 100%;
}

.message {
    padding : 10px 0 10px 0;
    overflow-wrap : break-word;
    text-align: left;
}

.self-message {
    width:100%;
    position: relative;
    text-align:right;
}